//Typography
$font: 'Inter', sans-serif;

//Color 
$C-1: #101828;
$C-2: #18181B;
$C-3: #EAECF0;
$C-4: #192235;
$C-5: #ECF4F3;
$text: #344054;
$text-2: #475467;
$bg: #F4FCF7;
$bg-2: rgba(0, 113, 93, 0.05);
$bg-3: #FAF2DD;
$btn: #00715D;
$btn-hover: #10907a;
$btn-2: #18b89c;
$btn-3: #00715d4d;
$text-bg: #F2F8F7;
$back-drop: #E6F1EF;
$border-2: #F2F4F7;
$border-3: #667085;
$border-4: #D0D5DD;
$label: #CCE3DF;
$small-i: #DAEBE8;
$line-2: #b6b6b6;
$arrow-l: #98A2B3;
$star: #FDD65B;
$ball: #FFE698;
$social-back: #131D30;
$inp-bg: #1D2939;
$border: #202F4E;
$line: #344054;
$para: #4D5563;


//Common 
$white: #fff;
$black: #000;
$light: #e5e5e5;

$f: #3D6AD6;
$fb: rgba(0, 178, 255, 100%);
$tw: #1DA1F3;
$in: #0073B1;


$primary: #00b9f1;
$secondary: #14213d;
$top-bg: #070c17;
$alpha: #07b3e7;
$beta: #ff006e;
$gamma: #f9930c;
$delta: #4c7eeb;
$epsilon: #3dd8b6;
$zeta: #26d168;
$eta: #8338ec;
$theta: #332750;