.join {
    position: relative;
    z-index: 9;
    margin: 0 0 -11rem 0;

    // min-width: 576px;
    @include sm-screen {
        margin: 0 0 -8rem 0;
    }

    // min-width: 768px;
    @include md-screen {
        margin: 0 0 -9rem 0;
    }

    // min-width: 1200px;
    @include xl-screen {
        margin: 0 0 -11rem 0;
    }

    &__text {
        font-size: 15px !important;

        // min-width: 1200px;
        @include xl-screen {
            font-size: 20px !important;
        }
    }

    &__heading {
        font-size: 30px !important;
        margin: 12px 0 25px 0 !important;

        // min-width: 992px;
        @include lg-screen {
            font-size: 42px !important;
            margin: 12px 0 42px 0 !important;
        }
    }

    &__card {
        margin: 0 auto;
        border: 0;
        padding: 0;
        border-radius: 40px !important;
        overflow: hidden;
        max-width: 1280px;

        &-layer {
            margin: 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &--btn {
                color: $white !important;
                background: $C-1 !important;
                transition: all 0.2s linear;

                &:hover {
                    color: $white !important;
                    transition: all 0.2s linear;
                    background: $black !important;
                }
            }
        }

        &-img {
            height: 400px !important;

            // min-width: 576px;
            @include sm-screen {
                height: 260px !important;
            }

            // min-width: 768px;
            @include md-screen {
                height: 300px !important;
            }

            // min-width: 992px;
            @include lg-screen {
                height: auto !important;
            }
        }
    }
}