.cases {
    input[type=range] {
        margin: auto;
        outline: none;
        padding: 0;
        width: 100%;
        height: 6px;
        background-color: #CCC;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009688), color-stop(100%, #009688));
        background-image: -webkit-linear-gradient(#009688, #009688);
        background-image: -moz-linear-gradient(#009688, #009688);
        background-image: -o-linear-gradient(#009688, #009688);
        background-image: linear-gradient(#009688, #009688);
        background-size: 50% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        cursor: pointer;
        -webkit-appearance: none;
        height: 4px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        box-shadow: none;
        border: none;
        background: transparent;
        -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border: 0;
        background: #009688;
        border-radius: 100%;
        box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
        -webkit-appearance: none;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
    }

    input[type=range]::-webkit-slider-thumb:active {
        height: 18px;
        width: 18px;
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type=range]::slider-runnable-track {
        box-shadow: none;
        border: none;
        background: transparent;
        -webkit-appearance: none;
    }

    input[type=range]::slider-thumb {
        width: 15px;
        height: 15px;
        border: 0;
        background: #009688;
        border-radius: 100%;
        box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.1);
        -webkit-appearance: none;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
    }

    .zero-input[type=range]::-webkit-slider-thumb {
        background: #FFF;
        border: 2px solid #BBB;
    }
}