.service {
    overflow-x: hidden;

    &__bg {
        background: linear-gradient(180deg, #ECF4F3 0%, #FFF 100%);
    }

    &__bg2 {
        background: $back-drop;
    }

    &__m {
        margin-bottom: 48px !important;
    }

    &__p {
        padding: 110px 0 !important;
    }

    &__card {
        padding: 28px 40px 52px 40px;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
        background: $white;
        box-shadow: 0px 12px 43px -12px rgba(34, 85, 58, 0.14);
        transition: all 0.2s linear !important;
        border: 2px solid transparent;

        &-linear {
            background: linear-gradient(180deg, $C-5 0%, $white 100%) !important;
        }

        &:hover {
            transition: all 0.2s linear !important;
            border: 2px solid $white;
            background: $btn !important;
        }

        &:hover &-heading {
            transition: all 0.2s linear !important;
            color: $white !important;
        }

        &:hover &-desc {
            transition: all 0.2s linear !important;
            color: $C-3 !important;
        }

        &:hover &-icon {
            transition: all 0.2s linear !important;
            background: #09a78bbf;
        }

        &:hover &-icon2 {
            transition: all 0.2s linear !important;
            background: $white !important;
        }

        &:first-child {
            margin: 0 0 50px 0;

            // min-width: 992px;
            @include lg-screen {
                margin: 0 0;
            }
        }

        &-icon {
            transition: all 0.2s linear !important;
            background: $btn;
        }

        &-icon2 {
            transition: all 0.2s linear !important;
        }

        &-heading {
            font-size: 25px !important;
            margin: 24px 0 12px 0 !important;
            font-weight: 600 !important;
            text-transform: capitalize;

            // min-width: 992px;
            @include lg-screen {
                font-size: 30px !important;
            }
        }

        &-desc {
            font-size: 14px !important;
            line-height: 22px !important;

            // min-width: 992px;
            @include lg-screen {
                font-size: 16px !important;
                line-height: 28px !important;
            }
        }
    }
}